/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #191724;
    background-alt: #1f1d2e;
    foreground:     #e0def4;
    foreground-alt: #ebbcba;
    selected:       #ebbcba;
    active:         #9ccfd8;
    urgent:         #eb6f92;
}
